.product {
    margin-bottom: 200px;
}
.image {
    width: 75%;
}
.product_in {
    padding-left: 2rem;
    margin-top: -3rem;
}
.number {
    font-family: sans-serif !important;
    line-height: .7;
    margin-left: -2rem;
    font-size: 11vw;
    font-weight: 800;
    padding: 0 !important;
    color: rgba(244, 244, 244, 0.15);
}
.price {
    color: #FFD600;
}

/*.line {*/
/*    color: #FFD600;*/
/*}*/
