.product {
    margin-bottom: 200px;
    @media only screen and (max-width: 426px) {
        margin-bottom: 50px;
    }
}
.image {
    width: 75%;
    @media only screen and (max-width: 426px) {
        width: 100%;
        float: none !important;
    }
}
.image_wrapper {
    width: 75%;
    //@media only screen and (max-width: 426px) {
    //    margin: auto;
    //}
}
.product_in {
    padding-left: 2rem;
    margin-top: -3rem;
}
.number {
    font-family: sans-serif !important;
    line-height: .7;
    margin-left: -2rem;
    font-size: 11vw;
    font-weight: 800;
    padding: 0 !important;
    color: rgba(244, 244, 244, 0.15);
}
.price {
    color: #FFD600;
}

/*.line {*/
/*    color: #FFD600;*/
/*}*/
